@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: "Raleway", serif;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: white;
  --secondary: black;
  --border: rgba(63, 63, 70, 0.4);
  --title: rgb(244, 244, 245);
  --subtitle: rgb(161, 161, 170);
}

body {
  background-color: var(--secondary);
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
  color: white;
}

.divider {
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
  transition: 0.3s;
}

a:hover {
  cursor: pointer;
}

.flex {
  display: flex;
}



@media (max-width:1000px) {
  .container {
    width: 90%;
    padding: 0 1.7rem;
  }
}

@media (max-width:700px) {
  .container {
    width: 85%;
    padding: 0 1.7rem;
  }
}